#main-container{
    border: .5px solid rgba(170, 168, 168, .2);
    height: 800px;
    width: 800px;
    position:fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;
    border-radius: 25px;
    background-color: rgba(233, 196, 106, .1);
    box-shadow: 0px 3px 15px rgba(233, 196, 106, .4);
}

#game-title{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    text-decoration: underline;
    color: #264653;
}
.overlay{
    background-color: #2A9D8F;
    height: 600px;
    width: 600px;
    padding: 0;
    margin: 0;
    position: relative;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 3px 15px rgba(233, 196, 106, .5);
}

#start {
    height: 50px;
    width: 100px;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-5%);
    transform: translateY(-5%);
    background-color: #E9C46A;
    color: #264653;
    border: 1px solid #E9C46A;
    border-radius: 25px; 
    font-size: large;
}

#stop {
    height: 50px;
    width: 80px;
    background-color: red;
    color: black;
    border: 1px solid black;
    border-radius: 25px; 
    font-size: large;
    margin: 10px;
}

#resume {
    height: 50px;
    width: 100px;
    background-color: green;
    color:white;
    border: 1px solid black;
    border-radius: 25px;
    font-size: large;
    margin-left: 50px;
}


#directions{
    position: absolute;
    top: 5%;
    color: white;
    text-align: left;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform:unset;
    
}


.direction-point{
    list-style-type:square;
}

#important-bullet {
    color:#E9C46A;
    list-style-type:square;
}

.important-text{
    font-weight: bold;
    color: #F4A261;
    text-decoration: underline;
}

.grid {
    display:flex;
    flex-wrap:wrap;
    width: 560px;
    height: 560px;
    border: solid #264653;
    box-shadow: 0px 3px 15px rgba(244, 162, 97, .5);
}

.grid div{
    width: 20px;
    height: 20px;
}

.pac-dot {
    background-color: #9c89b8;
    border: 5px solid white;
    box-sizing: border-box;
}

.wall {
    background-color: rgba(0, 144, 173, 0.26);
}

.power-pellet {
    background-color: #fcf300;  /* glowing yellow */
    border-radius: 10px;
}

.blinky {
    background-color: #c8553d;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pinky {
    background-color:#ffa69e;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.inky {
    background-color:#84dcc6;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.clyde {
    background-color: #ef8354; 
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
        
}

.pac-man {
    background-color: #ffe066;
    border-radius: 10px;
}


@keyframes changeColor {
    0% {
      background-color: #ccdbfdc2;
    }
    
    50% {
      background-color: #abc4ff17;
    }
    
    100% {
      background-color: #edf2fb6e
    }
  }
  
.scared-ghost  {
      background-color: grey;
      animation: changeColor ease;
      animation-iteration-count: infinite;
      animation-duration: 4s;
      animation-fill-mode: both;
  }

  #score-field {
      color: #264653;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .score-style{
    color: #264653;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
  }
  .hidden{
      display: none;
  }

  #version{
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-style: italic;
      font-size: small;
  }