.overlay{
    background-color: rgb(30, 59, 192);
    height: 600px;
    width: 600px;
    padding: 0;
    margin: 0;
    position: relative;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#start {
    
    height: 50px;
    width: 100px;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-10%);
    transform: translateY(-10%);
    background-color: white;
    color: rgb(30, 59, 192);
    border: 1px solid white;
    border-radius: 25px; 
    font-size: large;
}

#stop {
    height: 50px;
    width: 80px;
    background-color: red;
    color: black;
    border: 1px solid black;
    border-radius: 25px; 
    font-size: large;
    margin: 10px;
}

#resume {
    height: 50px;
    width: 100px;
    background-color: green;
    color:white;
    border: 1px solid black;
    border-radius: 25px;
    font-size: large;
    margin-left: 50px;
}


#directions{
    position: absolute;
    top: 5%;
    color: white;
    text-align: left;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    
}

.direction-point{
    list-style-type:square;
}
#important-bullet {
    color:yellowgreen;
    list-style-type:square;
}

.important-text{
    font-weight: bold;
    color:darkorange;
    text-decoration: underline;
}

.grid {
    display:flex;
    flex-wrap:wrap;
    width: 560px;
    height: 560px;
    border: solid black;
}

.grid div{
    width: 20px;
    height: 20px;
}

.pac-dot {
    background-color: lightgreen;
    border: 5px solid white;
    box-sizing: border-box;
}

.wall {
    background-color: darkblue;
}

.power-pellet {
    background-color: gold;
    border-radius: 10px;
}

.blinky {
    background-color: red;
}

.pinky {
    background-color: pink;
}

.inky {
    background-color: cyan;
}

.clyde {
    background-color: orange;     
}

.pac-man {
    background-color: yellow;
    border-radius: 10px;
}


@keyframes changeColor {
    0% {
      background-color: rgb(66, 62, 56);
    }
    
    50% {
      background-color: rgb(161, 157, 144);
    }
    
    100% {
      background-color: rgb(245, 234, 219);
    }
  }
  
.scared-ghost  {
      background-color: grey;
      animation: changeColor ease;
      animation-iteration-count: infinite;
      animation-duration: 4s;
      animation-fill-mode: both;
  }

  .hidden{
      display: none;
  }